<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">  	

<!-- <bean id="hello" class="com.sohail.tutorial.springcore.HelloWorldImpl" /> -->

<!-- <bean id="Addressreference" class="com.sohail.tutorial.springcore.Address">
<property name="country"  value="USA" />
<property name="streetAdress"  value="Jefferson place" />
</bean> -->
 
 <bean id="hello" class="com.sohail.tutorial.springcore.JavaWorldImpl" >
<property name="courseFee"  value="500" />
<property name="duration"  value="2 months" />
<!-- <property name="address" ref="Addressreference"/> -->
<property name="address">
<bean id="Addressreference" class="com.sohail.tutorial.springcore.Address">
<property name="country"  value="USA" />
<property name="streetAdress"  value="Jefferson place" />
</bean>
</property>

</bean>


</beans>